@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&family=Source+Sans+Pro&display=swap');

/*
    Google Fonts
    font-family: 'Raleway', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    300, 400, 700
*/

a {
    color: #a80000;
}

body {
    margin: 0;
    padding: 0;
    color: #222;
    background-color: lightgray;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

header {
    display: flex;
    margin: 0;
    background-color: #a80000;
    height: 125px;
}

header .header-logo {
    display: block;
    float: left;
    height: 125px;
    width: 170px;
}

header .header-logo img {
    width: 100%;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #FFF;
    position: absolute;
    top: 50px;
    left: 170px;
    width: 400px;

}

header p {
    display: block;
    margin: 0;
    padding: 0;
    color: #F2F2F2;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    height: 50px;
    position: absolute;
    top: 80px;
    left:170px;
}

header nav {
    width: 400px;
    position: absolute;
    top: 50px;
    right: 0px;
}

@media (max-width: 959px) {
    header nav {
        display: none;
    }
}

header nav ul {
    margin: 0;
}

header nav ul li {
    height: 26px;
    display: inline-block;
    border-bottom: 2px solid #a80000;
    transition: all 0.5s ease;
}

header nav a {
    color: #FFF;
    font-size: 1.25em;
    font-weight: 700;
    text-decoration: none;
    padding: 5px 10px 8px 10px;
}

header nav li:hover,
header nav li:active {
    border-bottom: 2px solid #333;
}

main {
    background-color: #FFF;
    margin: 20px;
    padding: 20px;
}

main h2 {

}

footer {
    background-color: #111;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #FFF;
    height: 200px;
}

footer nav {
margin: 100px auto 20px auto;
width: 300px;
}

footer nav ul {
    margin: 0;
    padding-inline-start: 0;
}

footer nav ul li {
    display: inline-block;
    border-right: 1px solid #FFF;
}

footer nav ul li:last-child {
    border-right: none;
}

footer nav a {
    color: #FFF;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 5px;
    font-size: 14px;
}

footer nav a:hover,
footer nav a:active {
    color: #CCC;
}

.copyright {
    font-size: 12px;
    font-weight: 300;
}
